
#editor {
    text-align: center;
    height: auto;
    width: 580px;
    margin: auto;
    background: #c0c0c0;
}


/*Boxes shapes*/

.square {
    height: 50px;
    width: 100px;
}

.square:focus {
    outline: none;
}

.square:hover {
    cursor: pointer;
}


/*Create a grid*/

.contenedor {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 500px;
    margin: auto;
}

